.listBlocks {
  & > .listBlocks__pagination {
    display: flex;
    justify-content: center;
    & > .listBlocks__pagination-back {
      display: flex;
      & > button {
        border: none;
      }
    }
    & > .listBlocks__pagination-next {
      display: flex;
      & > button {
        border: none;
      }
    }
  }

  & > .listBlocks__blocks > .listBlocks__block > table {
    border-collapse: collapse;
    width: 100%;
    & > tbody > tr {
      & > td:nth-child(1) {
        color: rgb(0, 183, 255);
        cursor: pointer;
        padding: 2px 0;
        border-bottom: 1px solid black;
      }
      & > td:nth-child(2) {
       border-bottom: 1px solid black;
      }
      & > td:nth-child(3) {
        cursor: pointer;
        padding: 2px 0;
        border-bottom: 1px solid black;
        & > a {
          color: rgb(0, 183, 255);
          text-decoration: none;
        }
      }
    }
    & > thead > tr {
      & > td:nth-child(1) {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-weight: bold;
      }
      & > td:nth-child(2) {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-weight: bold;
      }
      & > td:nth-child(3) {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-weight: bold;
      }
    }
  }
}



@media screen and (max-width: 480px) {
  .listBlocks > .listBlocks__pagination {
    & > .listBlocks__pagination-back > button {
      background-color: white;
    }
    & > .listBlocks__pagination-next > button {
      background-color: white;
    }
    & > .listBlocks__title > h3 {
      text-align: center;
    } 
  }
  .listBlocks > .listBlocks__blocks > .listBlocks__block > table {
    table-layout: fixed;
    & > tbody > tr {
      & > td:nth-child(1) {
        color: rgb(0, 183, 255);
        padding: 2px 0;
        padding-left: 10px;
        border-bottom: 1px solid black;
      }
      & > td:nth-child(2) {
        padding: 2px 0;
        border-bottom: 1px solid black;
      }
      & > td:nth-child(3) {
        display: none;
      }
    }
    & > thead > tr {
      & > td:nth-child(1) {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-weight: bold;
        padding-left: 10px;
        cursor: pointer;
      }
      & > td:nth-child(2) {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        font-weight: bold;
      }
      & > td:nth-child(3) {
        display: none;
      }
    }
  }
}