@mixin paginationButtonStyles {
  background-color: green; 
  color: white;
  border: none;
  border-radius: 3px;
}


div {
  & > .transaction-pagination {
    justify-content: center;
    display: flex;
    & > .transaction-pagination__back > button {
      @include paginationButtonStyles;
      margin-right: 50px;
    }
    & > .transaction-pagination__next > button {
      @include paginationButtonStyles;
    }
  }
  & > h1 {
    padding-left: 30px;
    color: rgb(82, 82, 82);
  }
  & > .block {
    display: flex;
    padding: 0 30px;
  }
}



@media screen and (max-width: 480px) {
  div > .block {
    display: flex;
    flex-direction: column;
  }
}